.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
.dice {
  text-align: center;
  display: inline-block;
  
}
  
body {
  /* background-color: #393E46; */
  background-color: #050505;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }

  button {
    display: flex;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid gray;
    transition: 0.5s;
  }

  button:hover {
    background-color: #4ECCA3;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  